<ion-item>
  <ion-textarea
    [(ngModel)]="chatPrompt"
    placeholder="Write a message"
    aria-label="Recipient's username">
  </ion-textarea>
</ion-item>
<ion-item lines="none" class="ion-padding-top">
  <ion-select interface="popover" placeholder="😀">
    <ion-select-option *ngFor="let group of chatSymbolGroups">
      <div class="d-flex flex-wrap gap-2">
        <ion-button
          *ngFor="let chatSymbol of group"
          size="small"
          shape="round"
          fill="outline"
          (click)="addSymbol(chatSymbol)"
        >
          {{ chatSymbol }}
        </ion-button>
      </div>
    </ion-select-option>
  </ion-select>
    <ion-button
    id="sendMessageButton"
    fill="outline"
    [disabled]="isChatLoading"
    (click)="sendInput()"
  >
    <ion-icon name="send-outline"></ion-icon>
  </ion-button>
</ion-item>
