<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="chat" href="/tabs/chat">
      <ion-icon aria-hidden="true" name="chatbox"></ion-icon>
      <ion-label>AI Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="prompt" href="/tabs/prompt">
      <ion-icon aria-hidden="true" name="create"></ion-icon>
      <ion-label>AI Prompt</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="imageread" href="/tabs/imageread">
      <ion-icon aria-hidden="true" name="image"></ion-icon>
      <ion-label>Image Reader</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
