<ion-content fullscreen>
  <ion-grid size="12">
    <ion-row>
      <app-chat-contacts [selectedAI]="selectedAI!.aiName"
          (setSelectedAi)="setSelectedAi($event)">
      </app-chat-contacts>
    </ion-row>
    <ion-row>

      <!-- Chat Panel -->
      <ion-col class="chat" size="12">
        <!-- Error Alert -->
        <ion-alert *ngIf="errorMessage" header="Error" message="{{ errorMessage }}" buttons="{[
            {
              text: 'Close',
              role: 'cancel',
              handler: () => closeErrorMessage()
            }
          ]}"></ion-alert>

        <!-- Chat Body -->
        <div id="chatBody" class="chat-body">
          <ion-text>
            <h6>Chat</h6>
          </ion-text>

          <div *ngFor="let message of displayMessages">
            <div class="answer imagecontainer" [ngClass]="{
                left: message.userType === 'assistant',
                right: message.userType === 'user'
              }">
              <div class="avatar" style="text-align: right">
                <!--<img src="{{ message.userImage }}" alt="" />-->
                <ion-img [src]="message.userImage" class="aiImage" alt=""></ion-img>
                <div class="status {{ message.userStatus }}"></div>
              </div>
              <div class="name">{{ message.userName }}</div>
              <div class="text" [innerHTML]="message.messageDetail" style="white-space: pre-wrap"></div>
              <div class="time">{{ message.messageTimeText }}</div>
            </div>
          </div>

          <!-- Loading Spinner -->
          <ion-spinner *ngIf="isChatLoading" name="dots"></ion-spinner>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <!-- Chat Input Component -->
      <app-chat-input [chatPrompt]="chatPrompt" [isChatLoading]="isChatLoading" (sendMessage)="sendMessage($event)" />
    </ion-row>
  </ion-grid>
</ion-content>